<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="location.href='/categoryCreate'">카테고리 생성</button>
    <button onclick="location.href='/categoryUpdate'">카테고리 수정/삭제</button>
    <button onclick="location.href='/product/add'">상품/옵션 생성</button>
    <button onclick="location.href='/product/update'">상품/옵션 수정/삭제</button>
    <button onclick="location.href='/board/create'">공지사항 생성</button>
    <button onclick="location.href='/'">공지사항 수정</button>
</body>
<script>
</script>
</html>