<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전체상품목록</title>
    <style>
        .product {
            width: 200px;
            text-align: center;
            cursor: pointer;
        }

        .product img {
            width: 100%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div id="product-list">
    <div th:each="product : ${apiResult.data.content}" class="product">
        <img th:src="${product.image}" th:alt="${product.name}">
        <h2 th:text="${product.name}"></h2>
    </div>
</div>

<div id="pagination">
    <a th:each="i : ${#numbers.sequence(1, apiResult.data.totalPages)}"
       th:href="@{/products(size=${size}, page=${i-1})}"
       th:text="${i}"
       th:class="${i == currentPage ? 'current-page' : 'page-number'}"
    ></a>
</div>

</body>
</html>
