<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
    <header> <h2>카테고리 수정 / 삭제</h2> </header>

    <!-- 카테고리 목록 콤보 박스 -->
    <label for="selectedCategory1">대분류 카테고리 선택:</label>
    <select id="selectedCategory1" name="superCategory_id" onchange="callSons('selectedCategory1','selectedCategory2')" required>
        <option value="0">없음</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
    </select><br>

    <!-- 카테고리 목록 콤보 박스 -->
    <label for="selectedCategory2">중분류 카테고리 선택:</label>
    <select id="selectedCategory2" name="superCategory_id" onchange="callSons('selectedCategory2','selectedCategory3')">
        <option value="0">없음</option>
    </select><br>

    <!-- 카테고리 목록 콤보 박스 -->
    <label for="selectedCategory3">소분류 카테고리 선택:</label>
    <select id="selectedCategory3" name="superCategory_id" onchange="setInputValue('selectedCategory3')">
        <option value="0">없음</option>
    </select><br>

    <label>이름 수정 : </label><input type="text" id="selectedValueInput" required>
    <button onclick="updateCategory()">수정</button>
    <button onclick="deleteCategory()">삭제</button>
<script th:inline="javascript">
    function setInputValue(tag) {
        var selectElement = document.getElementById(tag);
        var selectedName = selectElement.options[selectElement.selectedIndex].text;
        document.getElementById("selectedValueInput").value = selectedName;
    }

    async function callSons(tag1, tag2) {
        var option1 = document.getElementById(tag1);
        var option2 = document.getElementById(tag2);
        var selectedOption = option1.value;

        if (selectedOption !== "0") {
            // AJAX 요청 보내기
            try{
                const response = await fetch('/category/son/' + selectedOption, {
                    method: 'GET'
                });
                const result = await response.json();

                if (result.success) {
                    console.log(result.response);
                    option2.innerHTML = '<option value="0">없음</option>';
                    var sons = result.response;
                    for (var par in sons) {
                        var sub = sons[par];
                        console.log(sub);
                        option2.innerHTML += '<option value="' + sub.id + '">' + sub.categoryName + '</option>';
                    }
                    setInputValue(tag1);
                } else {
                    console.log(result);
                    alert("없는 카테고리를 선택");
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    }

    const updateCategory2 = () => {
        var option1 = document.getElementById("selectedCategory1");
        var option2 = document.getElementById("selectedCategory2");
        var option3 = document.getElementById("selectedCategory3");
        var selectedOption1 = option1.value;
        var selectedOption2 = option2.value;
        var selectedOption3 = option3.value;

        var superCategoryId = selectedOption3;
        if (selectedOption3 === "0") {
            superCategoryId = selectedOption2;
        }
        if (selectedOption2 === "0") {
            superCategoryId = selectedOption1;
        }

        try {
            const categoryName = document.getElementById("categoryName").value;

            $.ajax({
                // 요청방식: post, 요청주소: /category/save, 요청데이터: 카테고리 id, 이름, 상위 id
                type: "post",
                url: "/category/save",
                data: {
                    "superCategory_id" : superCategoryId,
                    "categoryName" : categoryName
                },
                success: function (res) {
                    console.log(location.href);
                    location.href = "categorycreate";
                },
                error: function (err) {
                    console.log("요청실패", err);
                }
            });
        } catch (error) {
            console.log('Error: ', error);
        }
    }

    function updateCategory() {
        const selectElement = document.getElementById('categorySelect');
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const categoryId = selectedOption.dataset.id;
        const superCategoryId = selectedOption.dataset.superid;
        const categoryName = document.getElementById("selectedValueInput").value;

        $.ajax({
            // 요청방식: post, 요청주소: /category/update, 요청데이터: 카테고리 id, 이름, 상위 id
            type: "post",
            url: "/category/update",
            data: {
                "id" : categoryId,
                "superCategory_id" : superCategoryId,
                "categoryName" : categoryName
            },
            success: function (res) {
                alert("카테고리 수정 완료");
                console.log(location.href);
                location.href = "/category/updateForm";
            },
            error: function (err) {
                alert("카테고리 수정 실패");
                console.log("요청실패", err);
            }
        });
    }

    function deleteCategory() {
        const selectElement = document.getElementById('categorySelect');
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const categoryId = selectedOption.value;

        $.ajax({
            // 요청방식: post, 요청주소: /category/delete/{id}
            type: "post",
            url: '/category/delete/' + categoryId,
            success: function (res) {
                alert("카테고리 삭제 완료");
                console.log(location.href);
                location.href = "/category/updateForm";
            },
            error: function (err) {
                alert("카테고리 삭제 실패");
                console.log("요청실패", err);
            }
        });
    }
</script>
</body>
</html>