<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 생성</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<!-- 카테고리 관리 화면 -->
<h2>카테고리 관리</h2>
선택 없을 시 대분류 카테고리 생성<br>
대분류 선택 시 중분류 카테고리 생성<br>
중분류 선택 시 소분류 카테고리 생성<br><br>

<!-- 카테고리 목록 콤보 박스 -->
<label for="selectedCategory1">대분류 카테고리 선택:</label>
<select id="selectedCategory1" name="superCategory_id" onchange="callSons()">
    <option value="0">없음</option>
    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
</select><br>

<!-- 카테고리 목록 콤보 박스 -->
<label for="selectedCategory2">중분류 카테고리 선택:</label>
<select id="selectedCategory2" name="superCategory_id">
    <option value="0">없음</option>
</select><br>

<label for="categoryName">카테고리 생성: </label>
<input type="text" id="categoryName" name="categoryName" required>

<button onclick="createCategory()">카테고리 생성</button>

<script th:inline="javascript">
    const option1 = document.getElementById("selectedCategory1");
    const option2 = document.getElementById("selectedCategory2");
    async function callSons() {
        const selectedOption = option1.value;

        if (selectedOption !== "0") {
            // AJAX 요청 보내기
            try{
                const response = await fetch('/category/son/' + selectedOption, {
                    method: 'GET'
                });
                const result = await response.json();

                if (result.success) {
                    option2.innerHTML = '<option value="0">없음</option>';
                    const sons = result.response;
                    for (const par in sons) {
                        const sub = sons[par];
                        option2.innerHTML += '<option value="' + sub.id + '">' + sub.categoryName + '</option>';
                    }
                } else {
                    console.log(result);
                    alert("없는 카테고리를 선택");
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    }

    const createCategory = () => {
        const selectedOption1 = option1.value;
        const selectedOption2 = option2.value;

        let superCategoryId = selectedOption2;
        if (selectedOption2 === "0") {
            superCategoryId = selectedOption1;
        }

        try {
            const categoryName = document.getElementById("categoryName").value;

            $.ajax({
                // 요청방식: post, 요청주소: /category/save, 요청데이터: 카테고리 id, 이름, 상위 id
                type: "post",
                url: "/category/save",
                data: {
                    "superCategory_id" : superCategoryId,
                    "categoryName" : categoryName
                },
                success: function (res) {
                    console.log(location.href);
                    location.href = "categorycreate";
                },
                error: function (err) {
                    console.log("요청실패", err);
                }
            });
        } catch (error) {
            console.log('Error: ', error);
        }
    }
</script>
</body>
</html>