<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nicepay spring-boot</title>
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
<h1>NICEPAY TEST</h1>
<form method="POST" action="/v1/cancelAuth">
    <label>tid</label><br>
    <input type="text" name="tid" th:value="${order.getTid()}" required><br>

    <label>환불 금액</label><br>
    <input type="text" name="amount" th:value="${totalPrice}" required><br><br>

    <label>사유</label><br>
    <input type="text" name="reason" required><br><br>

    <input type="hidden" name="orderId" th:value="${order.getOptionId()}">

    <input type="submit" value="취소요청">
</form>
</body>

</html>