<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리별 상품리스트</title>
    <style>
        .product-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }
        .product-grid div {
            border: 1px solid #ddd;
            padding: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="product-grid" th:each="product : ${products}">
    <div>
        <!-- 단일 이미지 URL 구성 -->
        <img id="productImage" th:if="${product.file}" th:src="@{'/product/image/' + ${product.id}}" alt="Product image">
        <!-- 상품 정보 표시 -->
        <div th:text="${product.productName}"></div>
        <div th:text="${product.price + '원'}"></div>
    </div>
</div>
<button id="prevPage">이전 페이지</button>
<button id="nextPage">다음 페이지</button>
<script>

</script>
</body>
</html>
