<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 수정</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form id="loadPruduct">
    <h3>수정할 상품 선택</h3>
    <label for="selectedCategoryProduct1">대분류 카테고리 선택:</label>
    <select id="selectedCategoryProduct1" name="selectedProduct" onchange="loadProductsByCategory()">
        <option value="0">없음</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
    </select><br>

    <!-- 카테고리 목록 콤보 박스 -->
    <label for="selectedCategoryProduct2">중분류 카테고리 선택:</label>
    <select id="selectedCategoryProduct2" name="selectedProduct" onchange="callSons('selectedCategoryProduct2','selectedCategoryProduct3')" required>
        <option value="0">없음</option>
    </select><br>

    <!-- 카테고리 목록 콤보 박스 -->
    <label for="selectedCategoryProduct3">소분류 카테고리 선택:</label>
    <select id="selectedCategoryProduct3" name="selectedProduct" onchange="setOutValue()" required>
        <option value="0">없음</option>
    </select><br>

    <input type="hidden" id="productCategoryId" name="productCategoryId" required>

    <div th:if="${product != null}">
        <h3>상품 선택</h3>
        <select id="productSelect" name="productSelect" onchange="loadProductsByCategory()">
            <option selected value="">상품 선택</option> <!-- 기본 옵션 추가 -->
            <option th:each="product : ${product.optionList}"
                    th:text="${product.productName + ' - ' + product.description}"
                    th:data-price="${product.price}"
                    th:data-delivery-fee="${product.deliveryFee}">
                상품 명
            </option>
        </select>
    </div>
</form>

<form id="productForm">
    <h2>상품 수정</h2>

    <label for="selectedCategory1">대분류 카테고리 선택:</label>
    <select id="selectedCategory1" name="superCategory_id" onchange="callSons('selectedCategory1','selectedCategory2')" required>
        <option value="0">없음</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
    </select><br>

    <!-- 카테고리 목록 콤보 박스 -->
    <label for="selectedCategory2">중분류 카테고리 선택:</label>
    <select id="selectedCategory2" name="superCategory_id" onchange="callSons('selectedCategory2','selectedCategory3')" required>
        <option value="0">없음</option>
    </select><br>

    <!-- 카테고리 목록 콤보 박스 -->
    <label for="selectedCategory3">소분류 카테고리 선택:</label>
    <select id="selectedCategory3" name="superCategory_id" onchange="setInputValue()" required>
        <option value="0">없음</option>
    </select><br>

    <input type="hidden" id="categoryId" name="categoryId" required>

    <label for="productName">상품명:</label><br>
    <input type="text" id="productName" name="productName" required><br>

    <div class="form-group">
        <div class="title_area">
            <label>첨부 파일</label>
        </div>
        <div class="option_area">
            <label class="button_upload">
                <span class="blind"></span>
                <input class="blind" type="file" id="files" name="files" accept="image/*" multiple onchange="updateSelectedFiles(event)">
            </label>
            <div id="selected-files">
                <!--사진 나옴-->
            </div>
        </div>
    </div>

    <label for="productDescription">상품 설명:</label><br>
    <textarea id="productDescription" name="description" required></textarea><br>

    <label for="productPrice">상품 가격:</label><br>
    <input type="number" id="productPrice" name="price" required><br>

    <label for="deliveryFee">배송비:</label><br>
    <input type="number" id="deliveryFee" name="deliveryFee"required><br>

    <button type="button" id="newFormButton" onclick="resetProductForm()">추가 생성</button>
    <button type="submit" id="saveProductButton" onclick="sendProduct(event)">상품 저장</button>
</form>

<form id="optionForm">
    <h2>상품 옵션 추가</h2>

    <label for="optionName">옵션명:</label><br>
    <input type="text" id="optionName" name="optionName" required disabled><br>

    <label for="optionPrice">옵션 추가 가격:</label><br>
    <input type="number" id="optionPrice" name="optionPrice" required disabled><br>

    <label for="stockQuantity">재고 수량:</label><br>
    <input type="number" id="stockQuantity" name="stockQuantity" required disabled><br>

    <button type="submit" id="saveOptionButton" onclick="sendOption(event)" disabled>옵션 저장</button>
</form>
<script>
    function getCookie(name) {
    var cookieName = name + "=";
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.indexOf(cookieName) === 0) {
            return cookie.substring(cookieName.length, cookie.length);
        }
    }
    return null;
}


//-------------------수정할 상품 선택 카테고리-----------------//
function setOutValue() {
    const selectElement = document.getElementById("selectedCategoryProduct3");
    let selectedName = selectElement.options[selectElement.selectedIndex].value;
    if (selectedName === "없음") {selectedName = ""}
    document.getElementById("categoryId").value = selectedName;
}

async function callSons(tag1, tag2) {
    const option1 = document.getElementById(tag1);
    const option2 = document.getElementById(tag2);
    const selectedOption = option1.value;

    if (selectedOption !== "0") {
        // AJAX 요청 보내기
        try{
            const response = await fetch('/category/son/' + selectedOption, {
                method: 'GET'
            });
            const result = await response.json();

            if (result.success) {
                console.log(result.response);
                option2.innerHTML = '<option value="0">없음</option>';
                const sons = result.response;
                for (const par in sons) {
                    const sub = sons[par];
                    console.log(sub);
                    option2.innerHTML += '<option value="' + sub.id + '">' + sub.categoryName + '</option>';
                }
            } else {
                console.log(result);
                alert("없는 카테고리를 선택");
            }
        } catch (error) {
            console.error('Error:', error);
        }
    } else {
        setInputValue(tag1);
        document.getElementById("selectedCategory3").innerHTML = '<option value="0">없음</option>';
        if (tag1 === "selectedCategory1") {
            document.getElementById("selectedCategory2").innerHTML = '<option value="0">없음</option>';
        }
    }
}

function loadProductsByCategory() {
    // 선택된 카테고리 ID 가져오기
    var categoryId = $("#selectedCategoryProduct3").val();

    // Ajax를 이용해 백엔드에 상품 목록 요청
    $.ajax({
        url: '/products/' + categoryId,  // 백엔드에서 상품 목록을 제공하는 API URL
        type: 'GET',
        data: { page: 0, size: 10 }, // 페이지 번호와 사이즈를 요청에 포함
        success: function(apiResult) { // 요청 성공 시
            // 상품 선택 select 박스 초기화
            $('#productSelect').empty().append('<option selected value="">상품 선택</option>');

            // 받아온 상품 목록을 select 박스에 추가
            $.each(apiResult.data.content, function(i, product) {
                $('#productSelect').append(
                    $('<option>').val(product.productId).text(product.productName).data('price', product.price).data('deliveryFee', product.deliveryFee)
                );
            });
        },
        error: function(request, status, error) { // 요청 실패 시
            alert("상품을 불러오는데 실패하였습니다.");
        }
    });
}

//-------------------상품 수정 카테고리-----------------//
function setInputValue() {
    const selectElement = document.getElementById("selectedCategory3");
    let selectedName = selectElement.options[selectElement.selectedIndex].value;
    if (selectedName === "없음") {selectedName = ""}
    document.getElementById("categoryId").value = selectedName;
}

async function callSons(tag1, tag2) {
    const option1 = document.getElementById(tag1);
    const option2 = document.getElementById(tag2);
    const selectedOption = option1.value;

    if (selectedOption !== "0") {
        // AJAX 요청 보내기
        try{
            const response = await fetch('/category/son/' + selectedOption, {
                method: 'GET'
            });
            const result = await response.json();

            if (result.success) {
                console.log(result.response);
                option2.innerHTML = '<option value="0">없음</option>';
                const sons = result.response;
                for (const par in sons) {
                    const sub = sons[par];
                    console.log(sub);
                    option2.innerHTML += '<option value="' + sub.id + '">' + sub.categoryName + '</option>';
                }
            } else {
                console.log(result);
                alert("없는 카테고리를 선택");
            }
        } catch (error) {
            console.error('Error:', error);
        }
    } else {
        setInputValue(tag1);
        document.getElementById("selectedCategory3").innerHTML = '<option value="0">없음</option>';
        if (tag1 === "selectedCategory1") {
            document.getElementById("selectedCategory2").innerHTML = '<option value="0">없음</option>';
        }
    }
}
</script>
</body>
</html>
